body{
    background-color: ghostwhite;
/*
    background-image: url(images/close-up-dark-dark-green-1228133.jpg);
    background-size: auto;
*/    
}

main{
    opacity: .5;
}

img{
    width:560px;
}